.div1{

	width: 190px;
	height: 260px;
	border: 1px red solid;
	
}
.div2{

	width: 190px;
	height: 260px;
	border: 1px red solid;
	
}
.div3{

	width: 190px;
	height: 260px;
	border: 1px red solid;
	
}